.chart-container {
  /* position: relative; */
  display: 'flex';
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chart {
  flex: 0 0 auto;
  width: 30%;
  height: 200px;
  margin: 0;
}
